FIREBASE_SERVICE_ACCOUNT_PATH=C:\caminho\seguro\chave-firebase-reservas.json
WHATSAPP_SESSION_NAME=top-haus-reservas
POLL_INTERVAL_MS=2000
MAX_PENDING_AGE_HOURS=24
SEND_DELAY_MIN_MS=5000
SEND_DELAY_MAX_MS=10000
